@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.product__listing-title {
    font-family: "Open Sans", sans-serif;
    margin-left: auto;
    margin-left: 30px;
}
.product__listing-wrapper {
    margin-top: 150px;

}
.product__listing-container {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: auto;
    margin-top: 30px;
    padding-bottom:100px;
    margin-left: 50px;

}
.product__container {
    display: flex;
    flex-flow: column;
    width: 200px;
    flex: 0 1 calc(19% - 8px);
}
.product__container img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.add__cart-btn {
    width: 150px;
    height: auto;
    /* background-color: lightgrey; */
    cursor: pointer;
    text-align:center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0 , 0, .2);
    text-decoration: none;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    opacity: 0;
}

.product__container:hover .add__cart-btn {
    bottom: 50px;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0 , 0, .4);

}
/* .add__cart-btn:hover {
    bottom: 50px;
    opacity: 1;
    cursor: pointer;
    transition: box-shadow 0.3s;
} */
