@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.idea__feed-wrapper {
    display: flex;
    /* background: beige; */
    background-image:url("https://i.pinimg.com/originals/b3/07/c5/b307c5e5227d5a4b753c4d5307e7d981.jpg");
    /* background-repeat: no-repeat cover; */

}
.idea__feed-container {
    /* top: 0; */
    position: relative;
    justify-content: center;
    display: block;
    width: 800px;
    height: auto;
    margin-top: 200px;
    margin-left: 110px;
    margin-right: 110px;
}
.idea__container-title {
    color:  black;
    font-size: 30px;
    font-family: "Roboto" sans-serif;
}
.idea__form-btn {
    display: flex;
    margin-top: 150px;
    margin-left: 30px;
    text-decoration: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(162, 201, 164);
    align-items: center;
    justify-content: center;

}
.idea__form-btn:hover {
    box-shadow: grey;
    border: 2px solid rgb(85, 85, 85);
    /* background: rgb(238, 255, 0); */
}


.idea__form-input
input
 {
    width: 200px;
    margin-left: 2px;

}
.idea__form-input
textarea {
    display: flex;
    width: 300px;
    height: 200px;
    margin-left:50px ;

}

.create-idea-container {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    border: 1px solid grey;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: grey;
}

.create-idea-container button {
    margin-top: 4px;
    width: 200px;
    background-color:rgb(162, 201, 164);
    align-self: center;
    border-radius: 10px;
}

.create-idea-container button:hover{
    border-radius: 10px;
    box-shadow: grey;
    border: 1px solid rgb(85, 85, 85);

}


.idea__container {
    /* border:rgb(15, 1, 15) 1px solid; */
    padding: 7px;
    color:rgb(15, 1, 15);
    background-color:rgb(162, 201, 164);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(85, 85, 85);
    box-shadow: 1px 1px 5px rgb(65 65 65);
    /* display:flex; */
}

.idea-form-btn {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid rgb(85, 85, 85);
    box-shadow: 1px 1px 5px rgb(65 65 65);
}
.idea__container div{
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}
